<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ExpressMS</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddWarehouseServlet</display-name>
    <servlet-name>AddWarehouseServlet</servlet-name>
    <servlet-class>com.neu.ems.distribute.controller.AddWarehouseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddWarehouseServlet</servlet-name>
    <url-pattern>/addWarehouseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.neu.ems.login.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>PGInboundServlet</display-name>
    <servlet-name>PGInboundServlet</servlet-name>
    <servlet-class>com.neu.ems.warehouseManagement.controller.PGInboundServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PGInboundServlet</servlet-name>
    <url-pattern>/PGInboundServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteWarehouseServlet</display-name>
    <servlet-name>DeleteWarehouseServlet</servlet-name>
    <servlet-class>com.neu.ems.distribute.controller.DeleteWarehouseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteWarehouseServlet</servlet-name>
    <url-pattern>/deleteWarehouseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryWarehouseServlet</display-name>
    <servlet-name>QueryWarehouseServlet</servlet-name>
    <servlet-class>com.neu.ems.distribute.controller.QueryWarehouseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryWarehouseServlet</servlet-name>
    <url-pattern>/queryWarehouseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditWarehouseServlet</display-name>
    <servlet-name>EditWarehouseServlet</servlet-name>
    <servlet-class>com.neu.ems.distribute.controller.EditWarehouseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditWarehouseServlet</servlet-name>
    <url-pattern>/editWarehouseServlet</url-pattern>
  </servlet-mapping>
</web-app>